html {
  height: 100%;
  width: 100%;
}

.pagina-jogo-principal {
  display: flex;
  justify-content: space-between;
}

.canvas {
  transform: translate(-8%, 0);
  margin-top: 5.1%;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
  border: 0.1px solid orange;
  height: 100%;
}

.letra {
  all: unset;
  color: black;
  height: 23px;
  width: 30px;
  cursor: pointer;
  border-radius: 100%;
  font-size: 1.7vw;
  text-align: center;
  margin: 3px;
}

.block-words {
  margin-right: 5vw;
  margin-top: 5.5%;
  float: right;
}

.n-words {
  position: absolute;
  font-size: 23px;
  color: #ffa31a;
  top: 30px;
  /* right: 30%; */
}

.number {
  text-decoration: underline;
  color: black;
  font-size: 20px;
  margin-left: 2vw;
}

.list {
  position: relative;
  width: 16vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 1px 10px 20px 1px rgba(0, 0, 0, 0.2);
}

.list::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: white;
}
.list::before {
  content: " ";
  position: absolute;
  width: 8vw;
  height: 140%;
  background: linear-gradient(#ffa31a, #ffa31a, black, black);
  animation: animateBorder 30s linear infinite;
  transform: rotate(159deg);
}

.list span {
  position: relative;
  color: black;
  font-size: 1.55vw;
  z-index: 10;
  align-self: center;
  margin: 0;
  margin-right: 4px;
  line-height: 30px;
}

.list .riscada {
  text-decoration: line-through;
  color: grey;
}

@keyframes animateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Temporizador*/

.base-timer {
  position: relative;
  display: inline-block;
  margin-left: 3%;
  margin-right: 8%;
  top: 35vh;
  width: 13vw;
  height: 13vw;
  text-align: center;
}

.base-timer__svg {
  transform: scaleX(-1); /*meter arredondado*/
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: white;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: #ffa31a;
}

.base-timer__label {
  cursor: pointer;
  position: absolute;
  width: 13vw;
  height: 13vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3vw;
}

.game-mode {
  position: absolute;
  clip-path: polygon(96% 0, 100% 51%, 96% 100%, 4% 100%, 0% 50%, 4% 0);
  background: black;
  top: 9vw;
  left: 0.7vw;
  /* left:38%;
  top: 1.5vw; */
  font-size: 1.7vw;
}

.span-text-mode {
  color: white;
  padding: 0 60px 0 60px;
}

.points {
  position: absolute;
  left: 24%;
  top: 30px;
}

.points-span {
  color: crimson;
  font-size: 20px;
  text-decoration: none;
}

.n-points {
  text-decoration: underline;
  color: black;
}

.dragging {
  background-color: orange;
  color: white;
}

.voltar {
  position: absolute;
  clip-path: polygon(50% 0%, 25% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%);
  bottom: 20px;
  left: 10px;
  text-decoration: none;
  color: black;
  height: 50px;
  background-color: black;
  cursor: pointer;
}

.jogar-novamente {
  position: absolute;
  text-decoration: none;
  bottom: 34px;
  left: 55px;
  font-size: 23px;
  color: black;
}

.vencedor {
  position: absolute;
  text-decoration: none;
  bottom: 180px;
  left: 55px;
  font-size: 23px;
  color: black;
}
